{% extends 'base.html' %}
{% block main_content %}
<div class="container-fluid text-center">
    <ul class="row mt-2 row-cols-md-6 row-cols-3">
        <li class="col list-unstyled"><button onclick="javascript:location.href='/officesys/dashboard/'" class="btn btn-custom active" style="white-space:pre">  公告區  </button></li>
        <li class="col list-unstyled"><button onclick="javascript:location.href='/officesys/attendance/'" class="btn btn-custom">差勤系統</button></li>
        <li class="col list-unstyled"><button onclick="javascript:location.href='/officesys/bulletin/'" class="btn btn-custom">公文系統</button></li>
        <li class="col list-unstyled"><button onclick="javascript:location.href='/officesys/leave/'" class="btn btn-custom">請假系統</button></li>
        <li class="col list-unstyled"><button onclick="javascript:location.href='/officesys/task/'" class="btn btn-custom">任務系統</button></li>
        <li class="col list-unstyled"><button onclick="javascript:location.href='/officesys/finance/'" class="btn btn-custom">財務系統</button></li>
    </ul>
    <table width="1200" border="0" class="table table-bordered table-condensed" >
        <tr>
            <td colspan="2" bgcolor="#CCCCCC"><div align="center"><strong>公告區</strong></div></td>
        </tr>
        <tr>
            <td>
                <div id="heig">
                    <form action="" method="post" name="like" class="form-inline text-start" id="like">
                        <strong>搜尋標題: </strong>
                        <label>
                            <input type="text" name="title"/>
                        </label>
                        <button class="btn" type="submit">搜尋</button>
                    </form>
                </div>
            </td>
            <td>
                <div align="center">
                <a href="/officesys/dashboard/upload/"><button class="btn" type="button">新增公告</button></a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2"><table width="1200" border="0"  class="table table-bordered table-condensed table-striped table-hover">
        <tr>
            <td id="color"><div align="center"><strong>編號</strong></div></td>
            <td id="color"><div align="center"><strong>標題</strong></div></td>
            <td id="color"><div align="center"><strong>發佈人</strong></div></td>
            <td id="color"><div align="center"><strong>時間</strong></div></td>
            <td id="color"><div align="center"><strong>管理</strong></div></td>
        </tr>
        {% for i in results %}
            <tr>
                {%if i['content']!=None %}
                    <td>{{i["_id"]}}</td>
                    <td><a href="/officesys/dashboard/{{i['_id']}}">{{i["title"]}}</a></td>
                    <td>{{i["by_name"]}}</td>
                    <td>{{i["time"]}}</td>
                    <td><a href="#" onclick="delete_confirm('{{i['_id']}}')">刪除</a></td>
                {%endif%}
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock main_content %}
{% block footer %}
{% endblock footer %}
{% block script %}
    <script charset="big5">
        function delete_confirm(id){
            var delete_window=confirm("確定要刪除"+id+"嗎？");
            if (delete_window==true){
                location.href="/officesys/dashboard/"+id+"/delete/"
            }
        }
    </script>
{% endblock script %}
