{% extends 'officesys/office_base.html' %}
{% block main_content %}
<div class="container-fluid text-center bg-transparent">
    <div class='row py-2'>
        <div class='col-9 px-1'>
            <div class='office-box'>
            </div>
        </div>
        <div class='col-3 px-1'>
            <div class='office-box'>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-6 px-1">
            <div class='office-box'>
            </div>
        </div>
        <div class="col-3 px-1">
            <div class='office-box px-1'>
            </div>
        </div>
        <div class="col-3 px-1">
            <div class='office-box px-1'>
            </div>
        </div>
    </div>
</div>



{% endblock main_content %}