{% extends 'officesys/office_base.html' %}
{% block main_content %}
<div class="container-fluid text-center bg-transparent overflow-hidden">
    <div class='row py-2'>
        <div class='col px-1'>
            <div class='office-box'>
            </div>
        </div>
        <div class='col-3 px-1 calendar'>
            <div class='text-center justify-content-center office-box calendar ps-1'>
                <div class='h4 calendar-title mb-0 pt-2' style='white-space:pre;' id='calendar-label'></div>
                <ul class='list-inline align mb-0'>
                    <li class="list-inline-item calendar-title-cel me-0">日</li>
                    <li class="list-inline-item calendar-title-cel me-0">一</li>
                    <li class="list-inline-item calendar-title-cel me-0">二</li>
                    <li class="list-inline-item calendar-title-cel me-0">三</li>
                    <li class="list-inline-item calendar-title-cel me-0">四</li>
                    <li class="list-inline-item calendar-title-cel me-0">五</li>
                    <li class="list-inline-item calendar-title-cel me-0">六</li>
                </ul>
                <ul class='list-inline text-center calender-row' id='calendar-days'></ul>
                <script src='/static/js/calendar.js'></script>
                <script>
                    cells=document.getElementsByClassName("calendar-cell");
                    for(let i=0;i<cells.length;i++){
                        cells[i].addEventListener('click',function(event){//之後還要加ajax
                            clear_selction();
                            event.target.classList+=' selected';
                        })
                    }
                    function clear_selction(){
                        for(let i=0;i<cells.length;i++){
                            cells[i].classList.remove('selected');
                        }
                    }
                </script>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col px-1">
            <div class='office-box'>
            </div>
        </div>
        <div class="col px-1 meeting">
            <div class='office-box px-1'>
            </div>
        </div>
        <div class="col-3 px-1 calendar">
            <div class='office-box office-box-last px-1 margin-move'>
                <ul class='text-start ps-4 office-box-list' height='90%'>
                <span class='h4 border-5 font-deepblue border-custom'>日程:</span>
                    <li class="h5 fw-normal ms-4 mt-3">企劃案</li>
                    <li class="h5 fw-normal ms-4">ppt</li>
                </ul>
                <div class='w-100 text-end pe-2'>
                    <button class='btn py-0 border-2'>上一頁</button>
                    <button class='btn py-0 border-2'>下一頁</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock main_content %}