.helper{
    font-size: 0.75rem;
}
main{
    min-height: calc(90vh);
}
body.bg-office{
    background-color: #f5f5f5!important;
}
.header-img{
    object-fit: contain;
    max-height: 430px;
}
.aligncenter {
    clear: both;
    display: block;
    margin: auto;
}
.title-logo{
    margin-top: -600px;
}
body{
    z-index: 0;
    color: #333365;
}
nav{
    z-index: 999;
}
.video{
    position: relative;
    margin-top:35px;
    max-width:683px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
footer{
    background-color:#fbfbfb;
}
.WhiteT{
    color:#c1c1c1;
}
footer ul>li:not(:first-child) a{
    color: #333365;
    font-weight: 200;
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
}
footer ul>li:first-child a{
    color: #333365;
    font-weight: bold;
}
footer .border-bottom{
    border-bottom: white 1rem;
}
footer a:focus,footer a:hover{
    text-decoration:#333365 underline;
}
/* sharing_button */
.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}
.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}
.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}
.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}
.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}
.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}
.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}
.main-contents{
    margin-top: 60px;
    margin-bottom: 150px;
}
.border-custom{
    border-bottom: 2px solid #333365!important;
}
button{
    border-color: #333365!important;
    color:#333365!important;
}
button:not(.carousel-control-prev):not(.carousel-control-next):hover{
    background-color: #333365!important;
    color:white!important;
}
button.active{
    background-color: #333365!important;
    color:white!important;
}
.navbar .megamenu{ padding: 1rem; }
@media all and (min-width: 600px) {
  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{
      left: 132px; right:0; width:500px; margin-top:0;
      top:48px;
    }

}
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto!important;
      max-height: 90vh!important;
      margin-top:10px!important;
  }
}
#heig{
    height:10px;
}
#color{
    background-color: #E5E5E5;
}
.dropdown-toggle::after {
    content: none;
}
input.btn-custom{
    border-color: #333365!important;
    color:#333365!important;
    background-color:white;
}
input.btn-custom:hover{
    background-color: #333365!important;
    color:white!important;
}
.wrong-feedback{
    font-size:0.875rem;
    color:#dc3545;
}
.home-news{
    background-color: #f5f5f5;
    color:#003399!important;
    height: 290px;
}
.home-news-time{
    color: #c6c4c4!important;
    font-size:0.7rem!important ;
}
.home-news-title{
    color: #003399!important;
    text-decoration: none!important;
}

@media screen and (min-width:577px) {
    .table-left{
        width: 6em!important;
        background-color: #43526b!important;
        color:white;
    }
}
@media screen and (max-width:576px) {
    .table-left{
        width: 10%;
        background-color: #43526b!important;
        color:white;
    }
}
.table-input:focus{
    outline: none!important;
}
.table-input{
    width: 100%;
}
.home-news-title-a{
    color: #003399!important;
    text-decoration: none!important;
}
.home-news-title-a:hover{
    color: #586379!important;
    text-decoration: none!important;
}
@media screen and (min-width:577px) {
    .blank{
        width: 68vw!important;
    }
}
@media screen and (max-width:576px) {
    .blank{
        width: 55vw!important;
    }
}

.time-box{
    min-height: 100px;
    background-color: #00bfff;
}
.time-box-text{
    font-weight: bold;
    color: white;
    font-size: 5rem;
}
.punchin-button{
    border-color: #00bfff!important;
    background-color: #00bfff!important;
    color:white!important;
}
.punchin-button:hover{
    border-color:transparent!important;
}
.navbar-custom{
    background-color:#00bfff!important;
}
.navbar-custom a{
    color: white!important;
}
.navbar-custom a:hover{
    color: #003399!important;
}
.office-box{
    background-color:white!important;
    height:44.35vh!important;
}
.office-box-list{
    height:83%;
}
.office-box-last{
    height: calc(44.35vh + 0.5rem)!important;
    min-width: 313px!important;
}
/* officesys-calendar */
.calendar-cell{
    border-radius: 25%!important;
    height: 36px!important;
    width:37px!important;
    border-color:transparent;
    padding-top: 5.25px;
    color: #00bfff;
    font-size: 1rem;
}
.calendar-cell.active{
    border-color:#00bfff!important;
    background-color: #00bfff!important;
    color:white!important;
}
.calendar-cell.selected{
    border-color:#00bfff!important;
}
.calendar-title-cel{
    width:37px!important;
    color:#00bfff;
}
.calendar-title{
    color:#00bfff;
}
.calendar{
    min-width: 313px!important;
}
.meeting{
    max-width: 350px!important;
}


.margin-move{
    margin-top:-0.5rem!important;
}
.font-deepblue{
    color:#003399!important;
    border-color:#003399!important;
}
.font-lightblue{
    color:#00bfff!important;
    border-color:#00bfff!important;
}