.aligncenter {
    clear: both;
    display: block;
    margin: auto;
}
#header-bg-1{
    margin-top:64px;
    padding-bottom:20px;
    border-top:5px solid #c8133e;
    border-bottom:5px solid #c8133e;
    background-color:#1d1e1e;
    padding-top:32px;
    padding-bottom:79px;
    height: 290px;
}
footer{
    background-color: #1d1e1e;
    border-top:5px solid #c8133e;
    border-bottom:5px solid #c8133e;
    position: absolute;
    margin-bottom:0;
    margin-bottom: 20px;
}

.WhiteT{
    color:#fff;
}
body{
    margin-left: 0px;
    margin-right: 0px;
}
#header-top{
    position: absolute;
    left:42.3%;
    top:33px;
    z-index:999;
    height:100px;
    width: 200px;
    border-radius: 200px 200px 0 0;
    background-color: #1d1e1e;
}
#header-bottom{
    position: absolute;
    left:42.3%;
    top:357px;
    z-index:999;
    height:150px;
    width: 200px;
    text-align: center;
    border-radius: 0 0 200px 200px;
    background-color: #1d1e1e;
}
.video{
    position:relative;
    left: 23%;
    top:50px
}
.content-title{
    align-self:center;
}