<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8"></meta>
        <title>首頁</title>
        <link rel="icon" href="{{url_for('static',filename='logo.ico')}}"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}">
    </head>
    <body>
        <header>
            <div id="header-bg-1">
                <img src="{{url_for('static', filename='title.webp')}}" class="aligncenter">
            </div>
            <div class="WhiteT" id="header-bottom"><br/><br/><br/>探索你的夢想</div>
            <div id="header-top"></div>
        </header>
        <div>
            <iframe class="video" width="683" height="384" src="https://www.youtube.com/embed/xxeeNvRsXOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <h1>最新消息</h1><br/>
            <h1>最新線上探索活動</h1><br/>
            <h1>最新探索營隊資訊</h1><br/>
        </div>


        <footer height="70">
            聯繫我們

        </footer>
    </body>
</html>