{% extends 'about_base.html' %}
{% block main_content %}
<div class="container-fluid main-contents">
<div class='row justify-content-center mt-5'>
    <div class='col-7 mt-5'>
        <div class="ratio ratio-16x9 video">
            <iframe src="https://www.youtube.com/embed/D2QhaFg6dP8?autoplay=1&mute=1&loop=1" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 text-center mt-5">
        <h1 class='mt-5'>關於我們</h1>
        <img src='/static/team-intro-0.jpeg'></img>
        <img src='/static/team-intro-1.jpeg' style='max-height:400px!important'></img>
    </div>
</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(){
    // make it as accordion for smaller screens
    if (window.innerWidth > 992) {

        document.querySelectorAll('.navbar .nav-item').forEach(function(everyitem){

            everyitem.addEventListener('mouseover', function(e){

                let el_link = this.querySelector('a[data-bs-toggle]');

                if(el_link != null){
                    let nextEl = el_link.nextElementSibling;
                    el_link.classList.add('show');
                    nextEl.classList.add('show');
                }
            });
            everyitem.addEventListener('mouseleave', function(e){
                let el_link = this.querySelector('a[data-bs-toggle]');

                if(el_link != null){
                    let nextEl = el_link.nextElementSibling;
                    el_link.classList.remove('show');
                    nextEl.classList.remove('show');
                }
            })
        });
    }
    });
</script>
{% endblock main_content %}