{% extends 'about_base.html' %}
{% block main_content %}
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-12 d-flex justify-content-center">
            <h1 class='mt-5'>創造娛樂工作室下的核心團隊</h1>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3">
            <img src='/static/team-size.jpeg' class='mt-5' style='max-height:400px!important;height:auto'></img>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3">
            <h1 class='mt-5 pt-0'>創造娛樂工作室下的訓練團隊</h1>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3">
            <img src='/static/team-size-2.png'></img>
    </div>
</div>



{% endblock main_content %}