<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1">
    {% block page_title %}
        <title>首頁</title>
    {% endblock page_title %}

    <link rel="icon" href="/static/logo-nb.ico" />
    <link rel="stylesheet" href="/static/css/template.css">
    <!--Bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/#portfolio">最新消息</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#about">關於我們</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#services">服務項目</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#contact">聯絡我們</a></li>
                </ul>

                <ul class="navbar-nav p-0" width='200'>
                {%if 'logged_in' in session and session['logged_in']%}
                        {%if session['current_user']['authority'] =='staff'%}
                            <li class="nav-item ms-3">
                                <a class="nav-link" onclick="window.open('/officesys/')">辦公系統</a>
                            </li>
                        {%endif%}
                    {%endif%}
                {% if 'logged_in' in session and session['logged_in'] %}
                    <li class="nav-item ms-0">
                        <a class="nav-link" href="/userspace/">{{session['current_user']['name']}}</a>
                    </li>
                    <li class="nav-item me-3">
                        <a  class="nav-link" href="/logout">登出</a>
                    </li>
                {% else %}
                    <li class="nav-item mx-3">
                        <a  class="nav-link {% if page=="login" or page=="register" %}active{% endif %}" href="/login">登入</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock navbar %}


<main>
{% block main_content %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">從ZERO開始<br>一起創造歷史</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">不斷地失敗、改造、失敗，努力地走在人生的冒險旅途上，享受團隊合作的時光<br>現在，我們即將要開啟全新的旅程，與正在閱讀的你

                    </p>
                    <a class="btn btn-primary btn-xl" href="#about">了解更多</a>
                </div>
            </div>
        </div>
    </header>

    <!--公告推送欄-->
    <div id='portfolio' style="margin-top:-100px;margin-bottom:190px;"></div>
    <div class='container-fluid mb-5 pt-4' id='portfolio'>
        <div class='row px-md-5 row-cols-md-2 row-cols-1 row-cols-lg-3 justify-content-center pt-0'>
            <div class='col p-0'>
                <h2 style='height:55px;' class='text-center pt-3 home-news-title'>最新消息</h2>
                <hr class="divider" />
                <ul class='home-news pt-2 px-2 overflow-auto'>
                {%for i in newest_results%}
                    <li class='list-unstyled justify-content-between d-flex h6'><span><a href='/announcement/{{i["_id"]}}/' class='home-news-title-a'>{{i['title']}}</a></span><span class='home-news-time'>{{i['time'].split()[0]}}</span></li>
                {%endfor%}
                </ul>
            </div>
            <div class='col px-1'>
                <h2 style='height:55px;' class='text-center pt-3 home-news-title'>隊務公告</h2>
                <hr class="divider" />
                <ul class='home-news pt-2 px-2 overflow-auto'>
                {%for i in team_results%}
                    <li class='list-unstyled justify-content-between d-flex h6'><span><a href='/announcement/{{i["_id"]}}/' class='home-news-title-a'>{{i['title']}}</a></span><span class='home-news-time'>{{i['time'].split()[0]}}</span></li>
                {%endfor%}
                </ul>
            </div>
            <div class='col p-0'>
                <h2 style='height:55px;' class='text-center pt-3 home-news-title'>招生&招募專區</h2>
                <hr class="divider" />
                <ul class='home-news pt-2 px-2 overflow-auto'>
                {%for i in recruit_results%}
                    <li class='list-unstyled justify-content-between d-flex h6'><span><a href='/announcement/{{i["_id"]}}/' class='home-news-title-a'>{{i['title']}}</span><span class='home-news-time'>{{i['time'].split()[0]}}</a></span></li>
                {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    <div id='about' style="height:10px!important;margin-top:-150px;margin-bottom:160px"></div>
    <!--about-->
        <section class="page-section bg-dark" id="about_">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">我們絕對是你學習歷程上最佳的夥伴！</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">加入我們，學習課外的能力及經驗，共同合作、學習及開發你意想不到的領域、活動及你的夢想，這就是我們！只要你願意，不必擔心結果，盡情享受過程獲取經驗並成長，這才是你我的目標！</p>
                        <a class="btn btn-light btn-xl" href="#services">了解我們</a>
                    </div>
                </div>
            </div>
        </section>
<!-- Services-->
    <div id='services' style="margin-top:-100px;margin-bottom:75px;"></div>
    <section class="page-section" id="services_">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">我們提供什麼？</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-0">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <img src='/static/service-1.png' height='145'></img>
                        <h3 class="h4 mb-2">最有價值的學習培訓</h3>
                        <p class="text-muted mb-0">多階段的目標任務學習，不僅能深刻理解課本的知識，更能學習課本以外的技能，學習培訓至少一年免費！</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-0">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <img src='/static/service-2.png' height='145'></img>
                        <h3 class="h4 mb-2">資訊科技的助力</h3>
                        <p class="text-muted mb-0">培訓學習的過程中，由最強大的AI導師『ZERO』來告訴你怎麼學習最有效，也會幫助你學習資訊科技的基礎知識，更有機會免費建立你的學習歷程網站</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-0">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <img src='/static/service-3.png' height='145'></img>
                        <h3 class="h4 mb-2">來自各地的團隊合作</h3>
                        <p class="text-muted mb-0">聚集全台各地的學員，彼此互相交流、教學相長，不僅能共同完成任務作品，在學習的路上也不會孤單！</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-0">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <img src='/static/service-4.png' height='145'></img>
                        <h3 class="h4 mb-2">找到你最喜歡的方向</h3>
                        <p class="text-muted mb-0">在這裡可以透過每週的學習、各階段的目標及研究或合作項目的製作過程中，探索自己的興趣，放眼未來</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action-->
    <section class="page-section bg-dark text-white mt-5" id='contact'>
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">心動不如馬上行動，趕快加入我們吧！</h2>
            <a class="btn btn-light btn-xl" href="#">立即加入</a>
        </div>
    </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5">
                <div class="small text-center text-muted"> &copy; 創造娛樂工作室資訊部 2020–2021</div>
            </div>
        </footer>
{% endblock main_content %}
</main>

    <script>
        var touchsupport = ('ontouchstart' in window) || (navigator.maxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0)
        if (!touchsupport){ // browser doesn't support touch
            document.documentElement.className += " non-touch"
        }

        document.addEventListener("DOMContentLoaded", function(){
        // make it as accordion for smaller screens
        if (window.innerWidth > 992) {

            document.querySelectorAll('.navbar .nav-item').forEach(function(everyitem){

                everyitem.addEventListener('mouseover', function(e){

                    let el_link = this.querySelector('a[data-bs-toggle]');

                    if(el_link != null){
                        let nextEl = el_link.nextElementSibling;
                        el_link.classList.add('show');
                        nextEl.classList.add('show');
                    }
                });
                everyitem.addEventListener('mouseleave', function(e){
                    let el_link = this.querySelector('a[data-bs-toggle]');

                    if(el_link != null){
                        let nextEl = el_link.nextElementSibling;
                        el_link.classList.remove('show');
                        nextEl.classList.remove('show');
                    }
                })
            });
        }
        });
    </script>

    <!--flash信息-->
    <script>
        {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    alert('{{msg}}');
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
    <script src="static/js/script_home.js"></script>
    {% block script %}
    <script>
            window.onload=function(){
            checkbox.checked=false
        }
    </script>
    
    {% endblock script %}

</body>
</html>