{% extends 'base.html' %}
{% block page_title %}
    <title>登入</title>
{% endblock page_title %}
{% block navbar %}
{% endblock navbar %}

{% block main_content %}
<div class=' container-fluid login-register-bg text-white'>
    <div class='row justify-content-center align-content-center h-100 text-center'>
        <form class="form-login-register col-md-5 col-12 col-lg-4 nees-validation" action="/login" method="POST" novalidate>
            {{ form.csrf_token() }}
            <h1 class="h3 mb-3 fw-normal form-label ">登入網站會員</h1>

            <div class="form-floating  text-secondary mb-2">
                {{ form.email(class_="form-control border-0 text-white"+ (" is-invalid" if form.email.errors else ""),id="floatingEmail",placeholder=' ') }}
                <label for="floatingEmail">帳號／Email address</label>
                <div class="invalid-feedback">
                    <ul>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="form-floating  text-secondary mb-2">
                {{ form.password(class_="form-control border-0 text-white"+ (" is-invalid" if form.password.errors else ""),id="floatingPassword",placeholder=' ') }}
                <label for="floatingPassword">密碼／Password</label>
                <div class="invalid-feedback">
                    <ul>
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>


            <div class="form-check form-switch mb-2">
                <label for="flexSwitchCheckDefault" class='me-5'>
                    {{ form.remember(class_="form-check-input border-0"+ (" is-invalid" if form.remember.errors else ""),id="remember",checked=false) }}
                    記住我
                </label>
                <div class="invalid-feedback">
                    <ul>
                        {% if form.remember.errors %}
                            {% for error in form.remember.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

            </div>

            <a class="fs-6 mb-2" href="/register" style="text-decoration:none;">還不是會員嗎？點此註冊</a>
            {{form.submit(class_="w-100 btn btn-lg btn-outline-secondary text-white border-0 btn-custom-dark",value='登入／Login')}}
            <input type="button" class="w-100 btn btn-lg btn-outline-secondary text-white border-0 btn-custom-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="" value='行政登入'/>
            <p class="mt-5 mb-3 text-white">&copy; 總監室資訊組 2020–2021</p>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" style='position:relative;top:25%;'>
                    <div class="modal-content bg-custom-dark">
                        <div class="modal-header d-flex justify-content-center text-center">
                            <h5 class="modal-title" id="exampleModalLabel">請輸入授權碼</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-floating  text-secondary mb-2" id='authorizationCodeDiv'>
                                {{ form.authorization_code(class_="form-control border-0 text-white"+ (" is-invalid" if form.authorization_code.errors else ""),id="authorizationCode",placeholder=' ') }}
                                <label for="authorizationCode">授權碼／Authorization Code</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="fs-6 btn-custom-dark btn btn-lg btn-outline-secondary text-white border-0" data-bs-dismiss="modal" value='取消'>
                            {{form.admin_submit(class_="fs-6 btn btn-lg btn-outline-secondary text-white border-0 btn-custom-dark",value='登入')}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    let remember=document.getElementById('remember')
    remember.checked=false

    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    // If necessary, you could initiate an AJAX request here
    var modalBodyInput = exampleModal.querySelector('.modal-body input')

    })
</script>
{% endblock main_content %}
{% block footer %}
{% endblock footer %}
{% block script %}
{% endblock script %}




