{% extends 'base.html' %}
{% block main_content %}
<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-12 h1 mt-5 mb-4">
            登入
        </div>
        <form class="login border-3 border-dark col-md-4 col-9 needs-validation" action="/login" method="POST" novalidate>
            {{ form.csrf_token() }}
            <div class="mb-4">
                <label for="account" class="form-label h5">用戶名稱</label>
                {{ form.account(class_="form-control"+ (" is-invalid" if form.account.errors else ""),id="account") }}
                <div class="invalid-feedback">
                    <ul>
                        {% if form.account.errors %}
                            {% for error in form.account.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

            </div>
            <div class="mb-2">
                <label for="password" class="form-label h5">密碼</label>
                {{ form.password(class_="form-control"+(" is-invalid" if form.password.errors else ""),id="password") }}
                <div class="invalid-feedback">
                    <ul>
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="mb-3 form-check text-center">
                <div class="form-check pe-5">
                    {{ form.remember(class_="from-control",id="remember") }}
                    <label class="form-check-label" for="remember">
                        記住我
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <a href="/register">還沒有帳戶？註冊</a>
            </div>
            {{form.submit(class_="btn btn-primary mb-5",onclick="ResetCheckbox();",value="送出")}}
        </form>
    </div>
</div>
<script>
    const checkbox = document.getElementById('checkbox');
    function ResetCheckbox() {
        checkbox.checked = false;
    }
</script>
{% endblock main_content %}