<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首頁2</title>
    <link rel="icon" href="logo.ico" />
    <link rel="stylesheet" href="template1.css">
    <!--Bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed top-0 vw-100 m-0">
        <div class="container-fluid g-3">
            <a class="row gx-3 navbar-brand" href="#">
                <img src="logo.ico" alt="" class="col-2 align-content-center ">創造娛樂工作室
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">最新</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            我們的服務
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">線下營隊</a></li>
                            <li><a class="dropdown-item" href="#">線上教育平臺</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            關於我們
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">關於我們</a></li>
                            <li><a class="dropdown-item" href="#">規章</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">組織架構</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">加入我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">活動資訊</a>
                    </li>
                </ul>
                <button class="btn btn-outline-success" type="submit">登錄/注冊</button>
            </div>
        </div>
    </nav>

    <header>


        <div id="header-top"></div>
        <div class="container-fluid">

            <div id="header-bg-1" class="row" style="max-height: 401px;">
                <img src="title.webp" class="aligncenter" style="max-height: 290px;width: auto;z-index:7;">
            </div>
            <div class="WhiteT" id="header-bottom"><br /><br /><br />探索你的夢想</div>
        </div>
    </header>

    <div class="ratio ratio-16x9 video">
        <iframe src="https://www.youtube.com/embed/xxeeNvRsXOU" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="container text-center">
        <div>
            <h1>最新消息</h1><br />
            <h1>最新線上探索活動</h1><br />
            <h1>最新探索營隊資訊</h1><br />
        </div>
    </div>

    <footer height="70" class="container-fluid WhiteT">
        聯絡我們
    </footer>
</body>

</html>