<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <title>首頁</title>
        <link rel="icon" href="logo.ico"/>
        <base href="https://github.com/Timothychen00/app/">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header class="aligncenter" id="header-top"></header>
        <header class="aligncenter WhiteT" id="header-bottom"><br/><br/><br/>探索你的夢想</header>
        <header id="bg-1" >
            <img src="title.webp" class="aligncenter">
        </header>


        
    </body>
</html>