{% extends 'base.html' %}
{% block main_content %}
<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-12 h1 mt-5 mb-3">
            註冊
        </div>
        <form class="login border-3 border-dark col-md-4 col-9 needs-validation" action="/register" method="POST" novalidate>
            {{ form.csrf_token() }}
            <div class="mb-3">
                <label for="username" class="form-label h5">用戶名稱</label>
                {{ form.username(class_="form-control"+ (" is-invalid" if form.username.errors else ""),id="username") }}
                <div class="invalid-feedback">
                    <ul>
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <!--{{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "") + " rounded-0 shadow-none", **{"placeholder": "Your Email", "aria-describedby": "emailHelp", "autocomplete": "off"}) }}-->
            </div>
            <div class="mb-3">
                <label for="email" class="form-label h5">郵箱地址</label>
                {{ form.email(class_="form-control"+(" is-invalid" if form.email.errors else ""),id="email") }}
                <div class="invalid-feedback">
                    <ul>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label h5">密碼</label>
                {{ form.password(class_="form-control"+(" is-invalid" if form.password.errors else ""),id="password") }}
                <div class="helper">
                    密碼長度必須介於8-20之間，且包含大小寫字母和數字
                </div>
                <div class="invalid-feedback">
                    <ul>
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="validationCustom04" class="form-label h5">請確認密碼</label>
                {{ form.confirm(class_="form-control"+(" is-invalid" if form.confirm.errors else ""),id="validationCustom04") }}
                <div class="invalid-feedback">
                    <ul>
                        {% if form.confirm.errors %}
                            {% for error in form.confirm.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="mb-3 form-check">
                <div class="form-check">
                    {{ form.checkbox(class_="form-check-input is-invalid",id="checkbox",onclick="CheckboxValidation()") }}
                    <label class="form-check-label" for="checkbox">
                        我已閱讀並同意<a href="#">用戶使用條例</a>
                    </label>
                    <div class="invalid-feedback">
                        必須勾選才能繼續
                    </div>
                </div>
            </div>
            {{form.submit(class_="btn btn-primary mb-5",onclick="ResetCheckbox();",value="送出")}}
        </form>
    </div>
</div>
{% endblock main_content %}