{% extends 'base.html' %}
{% block page_title %}
    <title>註冊</title>
{% endblock page_title %}
{% block navbar %}
{% endblock navbar %}

{% block main_content %}
<div class=' container-fluid login-register-bg text-white' style='height:auto!important;'>
    <div class='row justify-content-center align-content-center h-100 text-center pt-5' style='height:auto!important;'>
        <form class="form-login-register col-md-5 col-12 col-lg-4 nees-validation mt-5" action="/register" method="POST" novalidate style='height:auto!important;'>
            {{ form.csrf_token() }}
            <h1 class="h3 mb-3 fw-normal form-label">註冊會員</h1>

            <div class="form-floating  text-secondary mb-2">
                {{ form.email(class_="form-control border-0 text-white"+ (" is-invalid" if form.email.errors else ""),id="floatingEmail",placeholder=' ') }}
                <label for="floatingEmail">帳號／Email address</label>
                <div class="invalid-feedback">
                    <ul>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="form-floating  text-secondary mb-2">
                {{ form.name(class_="form-control border-0 text-white"+ (" is-invalid" if form.name.errors else ""),id="floatingEmail",placeholder=' ') }}
                <label for="floatingEmail">姓名／Name</label>
                <div class="invalid-feedback">
                    <ul>
                        {% if form.name.errors %}
                            {% for error in form.name.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="form-floating  text-secondary mb-2">
                {{ form.birth(class_="form-control border-0 text-white"+ (" is-invalid" if form.birth.errors else ""),id="floatingEmail",placeholder=' ') }}
                <label for="floatingEmail">出生日期(YYYY-MM-DD)</label>
                <div class="invalid-feedback">
                    <ul>
                        {% if form.birth.errors %}
                            {% for error in form.birth.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="gender" class="form-label h5 w-100">性別</label>
                <tr>
                    {%for subitem in form.gender%}
                        <td>{{subitem(class_="form-check-input"+(" is-invalid" if form.gender.errors else "")) }}</td>
                        <td>{{subitem.label(class_='form-check-label')}}</td>
                    {%endfor%}
                </tr>
                <div class="invalid-feedback">
                    <ul>
                        {% if form.birth.errors %}
                            {% for error in form.birth.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="form-floating  text-secondary mb-2">
                {{ form.password(class_="form-control border-0 text-white"+ (" is-invalid" if form.password.errors else ""),id="floatingEmail",placeholder=' ') }}
                <label for="floatingEmail">密碼／Password</label>
                <div class="helper pt-1">
                    密碼長度必須介於8-20之間，且包含大小寫字母和數字
                </div>
                <div class="invalid-feedback">
                    <ul>
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="form-floating  text-secondary mb-2">
                {{ form.confirm(class_="form-control border-0 text-white"+ (" is-invalid" if form.confirm.errors else ""),id="floatingEmail",placeholder=' ') }}
                <label for="floatingEmail">請確認密碼/Confirm</label>
                <div class="invalid-feedback">
                    <ul>
                        {% if form.confirm.errors %}
                            {% for error in form.confirm.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="mb-3 form-check">
                <div class="form-check">
                    {{ form.checkbox(class_="form-check-input is-invalid",id="checkbox",onclick="CheckboxValidation()") }}
                    <label class="form-check-label" for="checkbox" >
                        我已閱讀並同意<a class='link' onclick="user_clause();">用戶使用條例</a>
                    </label>
                    <div class="invalid-feedback">
                        必須勾選才能繼續
                    </div>
                </div>
            </div>
            <a class="fs-6 mb-2" href="/login" style="text-decoration:none;">已經有帳號了嗎？前往登入</a>
            {{form.submit(class_="w-100 btn btn-lg btn-outline-secondary text-white border-0 mt-2",value='註冊／Register')}}
            <p class="mt-5 mb-3 text-white"> &copy; 創造娛樂工作室資訊部 2020–2021</p>
        </form>

        <button type="button" class="btn btn-primary visually-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog bg-custom-dark" style='position:absolute;left:26%;'>
                <div class="modal-content bg-custom-dark" style="width:50vw;">
                    <div class="modal-header font-white">
                        <h5 class="modal-title" id="exampleModalLabel">會員及使用者註冊條款</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-end">
                        <p class='text-start'>
感謝您註冊成為創造娛樂工作室（以下稱「本工作室」）團隊網站會員（包含但不限於內容刊登者、廣告主、內容提供廠商、網站瀏覽者，以下稱「會員及使用者」），本使用者條款（以下稱「本條款」）適用於所有位於、連結於本網站之主分頁、以及創造娛樂工作室提供之應用程式或是軟體插件及外掛，以下稱「本工作室」、「本團隊」或「我們」皆係指創造娛樂工作室。在您開始使用我們提供的各項服務（以下簡稱「本服務」）之前，請留意以下的使用條款：
</br></br>
一、適用範圍
</br>
(一)當您進行註冊程序時，請務必詳閱本條款，一旦按照本網站註冊流程成功完成註冊，會員及使用者資格生效，則視為同意本條款所有內容。當您開始使用本網站服務時，視為您已閱讀、了解並同意接受本條款所有內容，並完全接受本工作室提供現有與未來衍生之服務項目及內容。若您不同意本條款或本條款中任一項約定，應立即停止使用本服務。
</br>
(二)若日後本工作室提供其他服務，包括但不限於付費、訂閱版等加值服務時，如有另行訂定相關使用條款，您將以該服務版本之規範為依歸。
</br>
(三)國、高中學生或法定成年者皆可註冊成為本網站會員，且使用本工作室所提供之服務。未成年者，如於本網站進行交易時，應得到法定代理人同意或由法定代理人陪同，並遵守本條款及相關法律規定。
</br>
(四)若您為未成年者，除您本人應遵守本條款約定外，並請您的監護人或法定代理人同時確實閱讀、了解並同意遵守本條款之所有內容後，始得開始使用本服務或軟體。當您使用或繼續使用本服務時，即表示您的家長（或監護人）已閱讀、了解並同意接受本條款之所有內容及其後修改變更。
</br></br>
二、帳號、密碼與安全性
</br>
(一)當您註冊為本網站會員及使用者時，必須填入完整、正確的資料。如因資料錯誤所造成的任何問題，會員及使用者須自行負擔責任。若您提供任何錯誤或不實的資料，本網站有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部份。
</br>
(二)註冊時所填寫之會員及使用者ID、密碼，以及註冊使用之email，您必須妥善保管，並建議於使用完畢後確實登出，請勿轉讓、出借予第三者使用。會員及使用者應為使用此資料登入後，於本網站之一切行為負責。
</br>
(三)會員及使用者如發現ID、密碼及登入使用之email信箱外洩或遭盜用，而有異常登入及使用行為，應儘速告知本工作室，我們將儘速協助處理、解決，但不負任何賠償責任。
</br></br>
三、責任限制
</br>
(一)本網站上的資訊僅代表會員及使用者自行發表之內容，會員及使用者並應自行擔保內容之合法性及可信度，本工作室將不為其行為與張貼資訊負任何法律責任。
</br>
(二)本工作室提供之所有服務，均依照該服務當時之功能提供使用，對於會員及使用者之要求，包括但不限於速度、安全性、完整性、正確性，本工作室不負任何形式之保證責任。
</br>
(三)對於會員及使用者上傳之資料，包括但不限於文字、圖片、影音等，應自行判斷是否適合公開於網路上。本工作室無法保證所有上傳及儲存資料之安全性、完整性、正確性、合法性。
</br>
(四)會員及使用者應自行安裝防毒、防駭等軟體，確保自身使用資料及機器設備安全。本工作室對於因本網站內容造成之任何軟硬體損害，不負任何法律責任。
</br>
(五)本網站資訊可能含有成人內容，未滿18歲之青少年或兒童應取得父母同意註冊使用並且由父母陪同觀看。
</br></br>
四、智慧財產權
</br>
(一)本網站及服務所使用之程式碼、網頁設計語言及軟體，均受到智慧財產權相關法令之保護，未經本網站授權，會員及使用者不得修改、出租、出售、散佈本服務之部分或全部，或據以衍生著作、以其他方式移轉軟體之任何權利。
</br>
(二)本網站所呈現之贊助廣告、資訊，皆受到著作權、商標權、專利權或其他專屬權利之法律保護，未經本網站或廣告商授權，不得複製、修改、創作衍生著作。
</br>
(三)會員及使用者上傳之所有內容，會員及使用者擔保均具有合法、完整之著作權與智慧財產權，並擔保上述內容均無違反法令或其他任何侵害第三人權益之情事。任何資料一經您上載、傳送、輸入、公開傳輸或提供至本網站時，視為您已永久、非專屬性、無償的授權本網站可以基於公益或私益之目的，無條件使用，包括但不限於修改、重製、公開播送、改作、散布、發行、公開發表、公開傳輸該等資料。您對此絕無異議。本網站對前述資料的使用有彙整、編輯之權利，惟在未經您授權的情況下，不會以您上傳的資料個別進行銷售、轉讓等行為。
</br>
(四)會員及使用者上傳之所有內容，應保證本網站使用、修改、重製、公開播送、改作、散布、發行、公開發表、轉授權該等資料，不致侵害任何他人之智慧財產權，否則應對本工作室負損害賠償責任。若因違反前述之相關合法性所衍生之糾紛，由會員及使用者負完全責任，若因此造成本工作室之損害，亦須負因而產生之損害賠償責任。
</br>
(五)著作權或智慧財產權侵害處理
</br>
本工作室尊重他人智慧財產權，亦要求我們的會員及使用者同樣尊重他人智慧財產權。本工作室於適當的情形及依其決定，得對於可能屬重覆侵權人之會員及使用者暫停或終止其帳戶、服務。若您認為您的著作被以構成著作權侵害之方式利用，或您的智慧財產權被侵害的情形，請提供以下資訊予本工作室：</br>
1. 有權代表著作權或其他智慧財產權利益之所有人之電子或實體簽章；</br>
2. 您所主張受侵害之著作或其他智慧財產權之描述；</br>
3. 您所主張侵權之資料所在位置之描述；</br>
4. 您的地址、電話號碼及電子郵件地址；</br>
5. 您基於善意認為該利用未經著作權人其代理人或法律許可之聲明；</br>
6. 您在了解虛偽陳述的責任的前提下，對於上述載於您的通知上之資訊之正確性且您是著作權人或智慧財產權人或合法代表著作權人或智慧財產權人之聲明。</br></br>
五、廣告與廣告主
</br>
本網站所出現之廣告訊息，均由廣告主及提供廠商、組織對其內容負責，本工作室不對其正確性及可能造成之後果負任何法律責任。
</br></br>
六、禁止事項
</br>
本網站及服務的會員與使用者應同意不從事以下行為：
</br>
(一)發表、傳輸或發送誹謗、詐欺、猥褻、傷害、賭博或其他違反中華民國法令之資料及內容。
</br>
(二)發表、傳輸或發送侵犯他人商標權、著作權、智慧財產權之資料及內容。
</br>
(三)發表、傳輸或發送侵犯他人肖像權之資料及內容。
</br>
(四)未取得他人同意下，傳輸或發送廣告、促銷之資料及內容。
</br>
(五)其他任何干擾、妨礙他人使用之行為。
</br>
(六)破壞、干擾本網站系統運作、增加系統負荷之行為。
</br>
(七)發表、傳輸或發送病毒，或其他可能破壞或干擾電腦系統或資料的程式與訊息。
</br>
(八)擷取、蒐集、篡改或刪除他人資訊、電子郵件或其他個人資料，將此類資料用於不正當目的。
</br>
(九)發表、傳輸或發送可能造成其他使用者不快之訊息、內容。
</br>
(十)發表其他本網站判斷不適宜公開傳播之訊息、內容或行為。若發現上述內容或行為，本網站有權予以刪除，並且無另行通知之義務。
</br></br>
七、買賣或其他交易行為
</br>
(一)會員及使用者可能透過本網站或經由本網站連結至其他網站提供商品買賣、服務或其他交易行為。若因此與第三方進行交易，各該買賣或其他合約均僅存在您與該第三方兩造之間。
</br>
(二)因前述買賣、服務或其他交易行為所產生之爭執，應向該第三方尋求救濟或解決之道。本工作室不介入您與第三方間的任何買賣、服務或其他交易行為，對於您所獲得的商品、服務或其他交易標的物亦不負任何擔保責任。
</br></br>
八、服務中斷及中止
</br>
(一)本網站可能因進行例行性維護，或系統更新，造成服務中斷。本工作室將於中斷前以網站公告、email或其他適當方式告知會員及使用者。
</br>
(二)因下列情形造成之服務全部或部分中斷、中止，對會員及使用者造成任何直接或間接損害，本工作室均不負任何責任：</br>
1. 相關軟硬體設備進行搬遷、更換、升級或維修。</br>
2. 會員及使用者違反政府法令或本條款。</br>
3. 天災或其他不可抗力因素。</br>
4. 其他不可歸責於本工作室之事由。</br>
5. 非本工作室所能控制之事由致本服務資訊顯示不正確、或遭偽造、竄改、刪除或擷取、或致系統中斷或不能正常運作時。</br>

(三)本工作室基於營運方向及策略，可能以網站公告、email或其他適當方式告知會員及使用者後，停止提供部分或全部會員及使用者服務，使用者不得因此要求任何形式之賠償。
</br></br>
九、使用授權
</br>
會員及使用者所上傳或張貼公開予本網站之任何文字、圖像、影像等資料，其權利為會員及使用者或您的授權人所有；但任何經會員及使用者上傳或張貼予本網站之圖片、文字或影像，同意授權本網站可以基於維權、公益或為宣傳、推廣本網站相關服務，及推薦優質會員及使用者、文字、圖像及影像之目的，進行使用、修改、重製、散布、發行、公開發表、公開傳輸、公開播映、翻譯該等資料。
</br>
會員及使用者並保證本網站所使用、修改、重製、散布、發行、公開發表、公開傳輸、公開播映、翻譯該等資料，不致侵害他人之智慧財產權，否則應對本網站負起損害賠償責任。所有會員及使用者在網站上產生、上傳的資料及圖片等內容，在不違反個資法和智慧財產權法前提下，本網站得以使用圖片製作廣告圖示及相關廣告文宣，做為行銷及品牌推廣用途。
</br></br>
十、準據法及管轄</br>
本條款之解釋、補充及適用均以中華民國法令為準據法。</br>

如使用者對於本網站服務之內容發生疑問或爭議，本工作室將盡最大誠意與善意，共同探求合理、雙贏之解決方案。惟如因本條款所產生的爭議無法協調解決而需訴訟時，雙方同意應以台灣士林地方法院為第一審管轄法院。
</br></br>
十一、其他</br>
本工作室有權於任何時間修改或變更本條款之內容，條款修改後經公告於本服務網站即生效力，將不另行個別通知使用者。當您於本條款為修改或變更後仍繼續使用本網站服務與軟體時，即表示您及您的監護人或法定代理人亦已確實閱讀、了解並同意遵守本條款之修改或變更。</br>

本條款任何部分被認定
</p>
                        <input type="button" class="btn text-white" data-bs-dismiss="modal" value='關閉'/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    // If necessary, you could initiate an AJAX request here
    var modalBodyInput = exampleModal.querySelector('.modal-body input')

    })
    
</script>

{% endblock main_content %}
{% block script %}
<script>
    const checkbox = document.getElementById('checkbox');

    function CheckboxValidation() {
        if (checkbox.checked == true) {
            checkbox.className = 'form-check-input is-valid';
        } else {
            checkbox.className = 'form-check-input is-invalid';
        }
    }
</script>
<script>
    function user_clause(){
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {keyboard: false})
    myModal.toggle()
    myModal.show()
    }
</script>
{% endblock script %}




