{% extends 'base.html' %}
{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light pb-0 top-0 pt-0 vw-100 m-0" style='background-color:#212529;height:52px' >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_Nav"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_Nav">
            <ul class="navbar-nav p-0 mx-auto">
                <li class="nav-item ms-5"{%if 'logged_in' in session and session['logged_in']%}style='margin-left:130px!important'{%endif%}><a class="nav-link" href="/#portfolio">最新消息</a></li>
                <li class="nav-item dropdown has-megamenu">
                    <a class="nav-link dropdown" href="#" id="title" data-bs-toggle="dropdown" style="white-space:pre">關於我們</a>
                    <div class="dropdown-menu megamenu" role="menu">
                        <div class="row g-3">
                            <div class="col-lg-12 col-12">
                                <div class="col-megamenu">
                                    <a href="/about" class="nav-link-x border-bottom border-3 pb-0"><h6 class="title">關於我們</h6></a>
                                    <ul class="list-unstyled">
                                        <li><a class="nav-link-p" href="/about/history">團隊歷史</a></li>
                                        <li><a class="nav-link-p" href="/about/story">故事</a></li>
                                        <li><a class="nav-link-p" href="/">組織架構</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/#services">服務項目</a></li>
                <li class="nav-item"><a class="nav-link" href="/#contact">聯絡我們</a></li>
            </ul>
            <ul class="navbar-nav p-0" width='200'>
                {%if 'logged_in' in session and session['logged_in']%}
                        {%if session['current_user']['authority'] =='staff'%}
                            <li class="nav-item ms-3">
                                <a class="nav-link" onclick="window.open('/officesys/')">辦公系統</a>
                            </li>
                        {%endif%}
                    {%endif%}
                {% if 'logged_in' in session and session['logged_in'] %}
                    <li class="nav-item ms-0">
                        <a class="nav-link" href="/userspace/">{{session['current_user']['name']}}</a>
                    </li>
                    <li class="nav-item me-5">
                        <a  class="nav-link" href="/logout">登出</a>
                    </li>
                {% else %}
                    <li class="nav-item mx-3 me-5">
                        <a  class="nav-link {% if page=="login" or page=="register" %}active{% endif %}" href="/login">登入</a>
                    </li>
                {% endif %}
                </ul>
        </div>
    </div>
    </nav>
{% endblock navbar %}
{% block main_content %}
<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-12 mt-5">
            <h1>故事</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-10">
            <p style='font-size:larger'>台灣有很多優秀的人才卻不斷地往國外跑，或者是被現在的環境埋沒了自己的才華，因此成立創造娛樂工作室，透過團隊運作來培育及給予有能力之人有舞台可以展現，無論訓練後是否願意繼續留在團隊，繼續協助培訓新進的學弟妹成員，亦或是離開團隊到新環境的團隊，也能發揮在這裡所學的一切，未嘗不好，使大家都能學以致用才是我們最大的目標。</p>
            </br>
            <p style='font-size:larger'>團隊初期三年內的目標在舉辦我們的專長科學營活動；中期五年內的目標在產品除了活動（各式活動演講、營隊等…）再加上發展娛樂（音樂、舞蹈、戲劇）、教育及資訊科技；晚期十年內的目標則是以團隊為核心建立一家企業公司，讓願意學習並累積團隊合作經驗之人有地方學習、讓志同道合的人有空間合作，因此五位共同創辦人以劉建佑執行總監為首，下定決心成立創造娛樂工作室團隊，以打造完美的合作團隊為前提，以對社會貢獻心力為目標。</p>
            </br>
            <p style='font-size:larger'>雖然大家都是自願加入團隊，或是培訓後成為團隊的一員，但在各方面的要求我們絕不馬虎，就像一家企業公司的營運系統在運行。為實現團隊宗旨及目標，除了每年將規劃年度大型企劃提供各偏遠學童更多學習機會或營隊活動，以及加入團隊的合作人員能夠學習到課本以外的能力及經驗，並且合作開發不被外界看好的領域及技術，發展更多活動及挑戰不可能的事，這是我們團隊一大特色，只要你願意來做，我們就用特別企劃來實現。</p>
            </br>
            <p style='font-size:larger'>由於我們能力有限、專長不同，需要更多人參與協助，我們相信你有非常優秀的能力能夠協助我們繼續成長茁壯，在這裡你不必擔心結果的好壞，盡情享受過程，並從中獲取經驗，讓你自己與我們的團隊互相學習、成長</p>
        </div>
    </div>
</div>
{% endblock main_content %}


