{% extends 'base.html' %}
{% block main_content %}
<div class="container">
    <div class='row justify-content-center'>
        <div class='col-7'>
            <div class='h1 text-center mt-5'>個人信息</div>
            <table class='mt-3 h4 fw-normal table'>
                <tr class='pb-5'>
                    <td>{% if session['current_user']['authority'] in ['staff','admin'] %}<b>員工編號：</b>{{session['current_user']['_id']}}{% endif %}</td>
                    <td><b>姓名：</b>{{session['current_user']['name']}}</td>
                </tr>
                {% if session['current_user']['authority'] in ['staff','admin'] %}
                    <tr>
                        <td><b>部門代號：</b>{{session['current_user']['class_id']}} {{session['current_user']['class']}}</td>
                        <td><b>層級代號：</b>{{session['current_user']['layer_id']}} {{session['current_user']['layer']}}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><b>電子信箱：</b>{{session['current_user']['email']}}</td>
                </tr>
                <tr>
                    <td><b>手機號碼：</b>{{session['current_user']['phone']}}</td>
                </tr>
                <tr>
                    <td><b>職稱：</b>{{session['current_user']['job']}}</td>
                </tr>
                <tr>
                    <td><b>出生生日：</b>{{session['current_user']['birth']}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}