{% extends 'base.html' %}
{% block main_content %}
<div class="container">
    <div class='row justify-content-center'>
        <div class='col-12 {% if session['current_user']['authority']=='normal'%} col-md-4{%else%} col-md-9{%endif%}'>
            <div class='h1 text-center mt-5 '>個人資料</div>
                <table class='mt-3 fw-normal table {% if session['current_user']['authority']=='normal'%}{%else%} offset-1{%endif%}' style='font-size:1.25rem'>
                    <tr class='pb-5'>
                        {% if session['current_user']['authority'] =='staff' %}<td>員工編號：{{session['current_user']['staff_id']}}</td>{% endif %}
                        {% if session['current_user']['authority'] =='staff' %}<td>到職日期：{{session['current_user']['onboard_date']}}</td>{% endif %}
                        <td>姓名：{{session['current_user']['name']}}</td>
                    </tr>
                    <tr>
                        {% if session['current_user']['authority'] =='staff' %}<td>部門：{{session['current_user']['class_id']}} {{session['current_user']['class']}}</td>{% endif %}
                        {% if session['current_user']['authority'] =='staff' %}<td>生效日：{{session['current_user']['class_active_date']}}</td>{% endif %}
                        <td>性別：{{session['current_user']['gender']}}</td>
                    </tr>
                    <tr>
                        {% if session['current_user']['authority'] =='staff' %}<td>職稱：{{session['current_user']['job']}}</td>{% endif %}
                        {% if session['current_user']['authority'] =='staff' %}<td>生效日：{{session['current_user']['job_active_date']}}</td>{% endif %}
                        <td>出生日期(YYYY-MM-DD)：{{session['current_user']['birth']}}</td>
                    </tr>
                    <tr>
                        {% if session['current_user']['authority'] =='staff' %}<td>職等：{{session['current_user']['level']}}</td>{% endif %}
                        {% if session['current_user']['authority'] =='staff' %}<td>生效日：{{session['current_user']['level_active_date']}}</td>{% endif %}
                        <td>電子郵箱：{{session['current_user']['email']}}</td>
                    </tr>
                    <tr>
                        {% if session['current_user']['authority'] =='staff' %}<td>狀態：{{session['current_user']['status']}}</td>{% endif %}
                        {% if session['current_user']['authority'] =='staff' %}<td>認職時數：{{session['current_user']['injob_hours']}}</td>{% endif %}
                        <td>手機號碼：{{session['current_user']['phone']}}</td>
                    </tr>
                    <tr>
                    {% if session['current_user']['authority'] =='staff' %}
                        <td colspan='3'>層級代號：{{session['current_user']['hierarchy_code']}}</td>
                    {%endif%}
                    </tr>
                </table>
                <a href='/userspace/edit/' class='{% if session['current_user']['authority']!='normal'%} offset-1{%else%}{%endif%}'><button class='btn ms-3'>修改基本資料</button></a>
                <a href='/userspace/edit/password/'><button class='btn ms-3'>修改密碼</button></a>
        </div>
    </div>
</div>
{% endblock main_content %}